@font-face {
	font-family: 'radio';
	src:url('../fonts/radio.eot?-yn1emy');
	src:url('../fonts/radio.eot?#iefix-yn1emy') format('embedded-opentype'),
		url('../fonts/radio.woff?-yn1emy') format('woff'),
		url('../fonts/radio.ttf?-yn1emy') format('truetype'),
		url('../fonts/radio.svg?-yn1emy#radio') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'radio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e600";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea91";
}



body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	background: #f0f0f0;
}
a {
	transition: background-color 0.3s;
	text-decoration: none;
}
a, p, h1, h2, h3, div, ul, li, body {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.separator {
	width: 100%;
	display: block;
	margin-bottom: 0.5em;
}

/** header colors **/

.red:before ,
.green:before ,
.yellow:before  {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.green:before {
	background: rgba(92, 168, 169, 1);
}
.red:before {
	background: rgba(169, 92, 92, 1);
}

/** Menu **/

.menu {
	width: 100%;
	display: block;
	padding: 0.5em 0;
	border-bottom: 1px solid #cecece;
	background: #fff;
}


/*****************/

.main {
	background: url(../images/red_background.jpg);
	background-size: cover;
	display: block;
	position: relative;
}
.subcategory {
	/* Nothing for mobiles **/
}

.header { 
	margin: 0;
	padding: 1em;
	background: rgba(0, 0, 0, 0.3);
	display: block;
	text-align: center;
	z-index: 20;
	position: relative;
}
.headerLogo {
	display: inline-block; 
	margin-right: 1.5em;
}
.headerLogo a {
	width: 185px;
	padding: 0.5em 0;   
	display: inline-block; 
	color: #d6452e;
	vertical-align: middle;
	background: url(../images/logo_provisional.png);
	background-size: auto 100%;
}
.headerLogo p {
	color: transparent;
}
.headerUser {
	display: inline-block;
	vertical-align: middle;
}
.headerUser ul {
	display: inline-block; 
}
.headerUser ul li {
	display: inline-block;
	vertical-align: middle;
}
.headerUser ul li:first-child:after {
	content: "|";
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: rgba(255, 255, 255, 0.6);
}
.headerUser ul li:last-child {
	margin-right: 0;
}
.headerUser ul li a {
	color: rgba(255, 255, 255, 0.6);
}

/** Content *********/

.content { 
	margin: 0;
	padding: 2em 1em; 
	display: block;
	text-align: center;
}
.headline { 
	display: block; 
	margin-bottom: 1em;
}
.headline h1 {
	 font-size: 1.8em;
	 font-weight: 300;
	 color: #fff;
	 text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
} 
.headline h2 {
	 font-size: 1em;
	 font-weight: 300;
	 color: #fff;
	 text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
} 

/** Genres Home *********/

.genres {
	display: block; 
	margin-bottom: 0;
	text-align: center;
}
.genres ul { 
	/* Blank */
}
.genres ul li { 
	display: inline-block;
	margin-bottom: 0.5em;
}
.genres ul li a { 
	background: rgba(0, 0, 0, 0.16);
	border:2px solid rgba(125,89,84, 0.3);
	padding: 1em; 
	display: inline-block;
} 
.genres ul li a:hover { 
	background: rgba(0, 0, 0, 0.4);
}
.g_big a {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
	padding: 0.9em 1.5em !important; 
}
.g_small {
	border-width: 1.5px !important;
}
.g_small a {
	color: rgba(255, 255, 255, 0.7);
	padding: 0.6em 1.2em !important; 
} 

/** Radios *********/

.radios {
	display: block;
	text-align: center;
	margin: 1em;
}
.radiosTitle {
	position: relative;
	text-align: center;
	margin-bottom: 1em;
}
.radiosTitle h1 {
	font-size: 1.7em;
	font-weight: 400;
	display: inline-block;
	color: #1b6d6e;
}
.radiosTitle span {
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	cursor: pointer;
 	position: absolute;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: rgb(255,255,255);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow:    1px 1px 1px 0px rgba(0, 0, 0, 0.44);
	box-shadow:         1px 1px 1px 0px rgba(0, 0, 0, 0.44);	
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
}

.radio {
	width: 100%;
	min-height: 200px;
	background: #fff no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 1em;
	display: inline-block;
}
.radioPlaylist {
	list-style: none;
	display: none;
}
.radioLink {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 64%, rgba(0,0,0,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(64%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 64%,rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 64%,rgba(0,0,0,0.65) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 64%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 64%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.radioLink a {
	width: 100%;
	height: 100%; 
	float: left;
}
.radioInfo {
	position: absolute;
	left: 1em; 
	bottom: 1em;
	text-align: left;
	z-index: 3;
}
.radioInfo h3 {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	margin-bottom: 0.4em;
}
.radioInfo h3 a {
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
.radioListenBtn {
	display: block;
}  
.radioListenBtn a { 
	display: inline-block;
	font-weight: 500;
	background: rgba(92, 168, 169, 1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0.5em 1em;
	color: #fff;
}


/** Footer *********/

.footer {
	display: block;
	text-align: center;
	padding: 1.5em 0;
}
.footer ul li { 
	display: inline-block;
}
.footer ul li a { 
	color: #222;
}
.footer ul li:after {
	content: "-"; 
}
.footer ul li:nth-child(2):after,
.footer ul li:last-child:after {
	content: ""; 
}

 
@media all and (min-width: 600px) and (max-width: 949px) {

 	.radio {
 		width: 48%; 
 		min-height: 200px;
 		background: #fff no-repeat;
 		background-size: cover;
 		position: relative;
 		margin-bottom: 1em;
 	}
 	.radio:nth-child(n) {
 		margin-left: 1.5%;
 	}

}

@media all and (min-width: 950px) {
	
	.home .header { 
		background: transparent; 
	}

	.subcategory {
		/* Nothing for mobiles **/
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
 
	.home {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
		display: block;
		overflow: auto;
	}

	.content { 
		width: 750px;
		height: 350px;
		left: 50%;
		top: 50%;
		margin: 0;
		padding: 0; 
		margin-top: -175px;
		margin-left: -375px;
		display: block; 
		position: absolute;
		text-align: center;
	}
	.headline { 
		display: block; 
		margin-bottom: 3em;
	}
	.headline h1 {
		 font-size: 3em;
		 margin-bottom: 0.2em;
	} 
	.headline h2 {
		 font-size: 1.5em;
	} 
	.g_big {
		margin-right: 1em;
	}
	.g_big:last-child {
		margin-right: 0;
	}
	.g_big a {
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.9);
		padding: 1em 2em !important; 
	}
	.g_small {
		margin-right: 0.8em;
		border-width: 1.5px !important;
	}
	.g_small a {
		color: rgba(255, 255, 255, 0.7);
		padding: 0.8em 1.2em !important; 
	} 

	.radios {
		margin-top: 2em;
		margin-bottom: 2em; 
	}
	.radiosTitle {
		margin-bottom: 1.5em;
	}
	.radiosTitle h1 {
		font-size: 2em;		
		font-weight: 400;
		display: inline-block;
	}
	.radio {
		width: 31.5%; 
		min-height: 250px;
		background: #fff no-repeat;
		background-size: cover;
		position: relative;
		margin-bottom: 1em;
		margin-left: 0.5%;
		margin-right: 0.5%;
	} 

	.footer {
		left: 2em;
		right: 2em;
		position: absolute;
		bottom: 0;
		z-index: 3;
	}
	.footer .separator {
		display: none;
	}
	.footer ul li a { 
		color: rgba(255,255,255, 0.2);
	}
	.footer ul li { 
		color: rgba(255,255,255, 0.2);
	}
	.footer ul li:nth-child(2):after  {
		content: "-"; 
	}
}


@media all and (min-width: 1200px) {
	.radios {
		width: 1200px;
		margin-left:auto;
		margin-right:auto;
	}
}



